{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/blog.css')}}">
{% endblock %}



{% block content %}

<div class="container">
    <div class="col-md-6">
        <h2>Blogs Posted</h2>
        {% for blog in blog_list %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <h2> {{ blog.title}} </h2>
            <p> {{ blog.blog}}</p>
        </div>
        {% endfor %}
        <button class="btn btn-default"><a href="/blog/pitch"> Post a blog</a></button>

    </div>
    <h2>view Comments</h2>
    <div class="col-md-6">

        {{macro.displayblog(blog)}}

       
    </div>
</div>
{% endblock%}