<div class="container">
    {% macro displayPitches(pitch_list) %}
    {% for pitch in pitch_list %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2> {{ blog.title}} </h2>
                </div>
                <div class="panel-body">
                    <p> {{ blog.blog}}</p>
                    <button class="bg bg-info"><a href="/blog/comment">Comment</a></button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endmacro %}
    </div>