
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #883955;">
        <a class="navbar-brand" href="/"
            style="font-family: 'Major Mono Display', monospace; font-size: 30px">G.BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {%if current_user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="/post/new">Create Post</a>
                </li>
                {%endif%}
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    {%if current_user.is_authenticated%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                                href="{{url_for('main.profile', id = current_user.id)}}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                        </div>
                    </li>
                    {%else%}
                    <form class="form-inline my-2 my-lg-0" method="POST">
                        <input class="form-control mr-sm-2" type="email" placeholder="Type Your Email" name="subscriber" required>
                        <button class="btn btn-outline-info btn-sm" type="submit"
                            style="padding: 8px;">Subscribe</button>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" href="/authenticate/login">Login</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>

    {%block content%}
    {%endblock%}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://mobile.twitter.com/Rupy Marloney" target="_blank">
                                <span class="fa-stack fa-lg" style="color:lightskyblue;">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/Rupy Marloney/" target="_blank">
                                <span class="fa-stack fa-lg" style="color:lightskyblue;">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/ruthjomo" target="_blank">
                                <span class="fa-stack fa-lg" style="color: lightskyblue;">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Ruth Jomo 2020</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
</body>

</html>